.active {
  color: orange;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  cursor: pointer;
  text-align: center;
  padding-bottom: 8px;
}

.card:hover {
  background-color: #d4d4d4;
  transform: scale(1.01);
}